@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --input-background: #94a3b8;
  --button-background: #60a5fa;
  --button-preparation: #dd8948;
  --button-ready: #34d399;
  --button-cancel: #f87171;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
